.clock {
    background: inherit;
    font-weight: 500;
    display: block;
    padding: 25px;
    height: auto;
    border-radius: 40px;
    background: #1E90FF;
    color: white;
}
.clock:hover {
    cursor: pointer;
    background: #228B22;
}